<div class="container" style="border: 2px solid green">
    <div class="row" style="border: 2px solid blue">
        <div class="col" style="border: 2px solid cyan">
            <form [formGroup]="matchUrlForm" (ngSubmit)="showParticipants()">
                <label for="matchUrl" class="pb-2">Match URL:</label>
                <div class="input-group mb-3">
                    <input id="matchUrl" formControlName="matchUrl" type="text" class="form-control" />
                    <button class="button btn btn-outline-secondary" type="submit">
            Load
          </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="border: 2px solid red">
        <div class="col">
            {{ matchInfo }}
        </div>
    </div>
</div>