.container {
  padding: 0;
  margin: 0;
  width: 800px;
  min-width: 800px;
  max-width: none;
}

.container > .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.liveMatchDataForm {
  width: 800px;
  padding: 0;
}

#region {
  width: 100px;
  flex: none;
}
