.container {
  border: 2px solid green;
  padding: 0;
  margin-top: 5px;;
}

.container > .row {
  border: 2px solid blue;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > .row > .col,
.container > .row > .col-auto {
  border: 2px solid red;
  margin: 5px;
}
