.container {
  padding: 0;
  margin: 0;
  width: 800px;
  min-width: 800px;
  max-width: none;
}

.mmrTable .mmrTableHeader {
  font-weight: bold;
}

.mmrTable .textBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mmrTable .mmrCell {
  width: 100px;
}

.mmrTable .gameTypeCell {
  width: 200px;
}

.mmrTable .mmrValueCell {
  text-align: center;
}

.mmrTable .mmrSourceCell {
  width: 15px;
  text-align: right;
  font-size: small;
}

.mmrTableRow {
  height: 40px;
  margin: 0px;
}
